input {
  outline: none;
}

input:focus {
  border: 3px solid blue;
}

.image-container img {
  max-width: 250px;
  max-height: 250px;
}

.filtered-contianer {
  display: flex;
  align-items: center;
}

.filtered-contianer button {
  margin-left: 1rem;
}
